.main-content{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    min-height: 50vh;
}
.layout-sidebar-first{
    grid-column: 1;
    grid-row: 1;
    /*border-right: solid 1px var(--primary) ;*/
    width: 250px;
}

.layout-content{
    grid-column: 2;
    grid-row: 1;
}

.block-menu{

}