.main-content{
    display: grid;
    grid-template-columns: minmax(250px,250px) 2fr 0.5fr;
    height: 90vh;
}
.layout-sidebar-first{
    grid-column: 1;
    grid-row: 1;
    /*border-right: solid 1px var(--primary) ;*/
    width: 250px;
    height: 100%;
}

.region-sidebar-left{
    height: 100%;
    background-color: var(--secondary);
}


.layout-content{
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    width: 80%;
}